*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     letter-spacing: 0.3px;
}
body{
     background-color: #151231;
     color: white;
}
.flex-wrapper{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 50px;
     gap: 50px;
}
button{
     cursor: pointer;
     padding: 15px 30px;
     border-radius: 8px;
     font-size: 16px;
     border: none;
     transition: all 0.3s ease-in-out;
}

/* Header */
.header{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     border: 1px solid white;
     padding: 15px 30px;
     border-radius: 8px;
     width: 70%;
}
.score-container{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: white;
     color: #151231;
     height: 100%;
     padding: 40px 30px;
     border-radius: 5px;
}
.score-container h1{
     font-size: 50px;
     letter-spacing: 5px;
}


/* Rooms */
#rooms {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
     margin-top: 30px; 
}
#rooms div {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 10px;
}
#create-btn {
     background-color: rgb(255, 145, 0);
     color: white;
}
#join-btn {
     background-color: white;
     color: black;
     padding: 15px 40px;
}
.room-box {
     padding: 15px 20px;
     width: 200px;
     border: none;
     border-radius: 5px;
}
#create-room-input {
     background: transparent;
     border: 5px dashed white;
     opacity: 0;
     color: white;
     font-size: 16px;
}

/* Mode Selection */
.modeSelection{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 30px;
}
.modes{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 30px;
}
#onePlayerMode:hover, #twoPlayerMode:hover{
     background-color: white;
     color: black;
}
#onePlayerMode{
     background-color: rgb(0, 212, 39);
     color: white;
}
#twoPlayerMode{
     background-color: deepskyblue;
     color: white;
     opacity: 0;
}
.modeImage{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     padding: 50px 0;
     background-color: white;
     border-radius: 5px;
     padding: 20px;
     z-index: 1;
}
.modeImage img:last-child{
     height: 500px;
     width: 500px;
}
.modeImage img:first-child{
     position: absolute;
     z-index: -1;
     height: 400px;
     width: 400px;
}



/* Output Container */
#outputContainer{
     display: none;
     flex-wrap: wrap;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;
     width: 70%;
     gap: 30px;
}
#playerOneOutputContainer, #playerTwoOutputContainer{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 30px;
}
#outputSelection1{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 20px;
     background-color: #272151;
     padding: 30px;
     border-radius: 8px;
}
#outputPlayer1 , #outputPlayer2{
     background-color: #272151;
     padding: 30px;
     border-radius: 8px;
}
.rock, .paper, .scissors, .lizard, .spock{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-color: white;
     padding: 20px;
     border-radius: 50%;
     border: 10px solid;
     height: 120px;
     width: 120px;
     transition: all 0.3s ease-in-out;
}
.rock:hover, .paper:hover, .scissors:hover, .lizard:hover, .spock:hover{
     transform: scale(1.1);
}
.rock{
     border-color: red;
}
.paper{
     border-color: #2f51ff;
}
.scissors{
     border-color: #ffaa00;
}
.lizard{
     border-color: #843cff;
}
.spock{
     border-color: #59e6ff;
}
#output{
     background-color: white;
     color: #151231;
     padding: 50px;
     font-size: 35px;
     font-weight: 550;
     letter-spacing: 0.3px;
}
#restart{
     display: none;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 20px;
}
#restart-btn{
     background-color: #ffaa00;
     color: white;
     padding: 15px 30px;
     border-radius: 8px;
     font-size: 18px;
     border: none;
     transition: all 0.3s ease-in-out;
     font-family: 550;
     letter-spacing: 1px;
}
#exit-btn{
     background-color: red;
     color: white;
     padding: 15px 30px;
     border-radius: 8px;
     font-size: 18px;
     border: none;
     transition: all 0.3s ease-in-out;
     font-family: 550;
     letter-spacing: 1px;
}