*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     letter-spacing: 0.3px;
}
body{
     background-color: #151231;
     color: white;
}
.flex-wrapper{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 50px;
     gap: 50px;
}
button{
     cursor: pointer;
     padding: 15px 30px;
     border-radius: 8px;
     font-size: 16px;
     border: none;
     transition: all 0.3s ease-in-out;
}

/* Header */
.header{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     border: 1px solid white;
     padding: 15px 30px;
     border-radius: 8px;
     width: 70%;
}
.score-container{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: #EEF0FF;
     color: #151231;
     height: 100%;
     padding: 40px 30px;
     border-radius: 5px;
}
.score-container h1{
     font-size: 50px;
     letter-spacing: 5px;
}


/* Rooms */
#rooms {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
     margin-top: 30px; 
     color: black;
}
#rooms div {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 10px;
}
#create-btn {
     width: 370px;
     background-color: rgb(255, 145, 0);
     color: white;
}
#join-btn {
     background-color: rgb(103, 199, 0);
     color: white;
     padding: 15px 40px;
}
.room-box {
     padding: 15px 20px;
     width: 200px;
     border: 1px solid black;
     border-radius: 5px;
     font-size: 16px;
     font-weight: 600;
}
.room-box:active {
     border: 3px solid black;
}

/* Mode Selection */
.modeSelection{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 30px;
     width: 100%;
     margin-top: 80px;
}
.modes{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 30px;
     color: black;
}
#onePlayerMode{
     background-color: #4F46E5;
     color: white;
}
#twoPlayerMode{
     background-color: deepskyblue;
     color: white;
}

.modeImage{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     padding: 50px 0;
     background-color: white;
     border-radius: 5px;
     padding: 20px;
     z-index: 1;
}
.modeImage img:last-child{
     height: 500px;
     width: 500px;
}
.modeImage img:first-child{
     position: absolute;
     z-index: -1;
     height: 400px;
     width: 400px;
}
#mode-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
     gap: 20px;
     width: 80%;
     margin-top: 50px;
}
#mode-wrapper > div{
     background-color: #EEF0FF;
     padding: 50px;
     border-radius: 5px;
}


/* Output Container */
#outputContainer{
     display: none;
     flex-wrap: wrap;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;
     width: 70%;
     gap: 30px;
}
#playerOneOutputContainer{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 30px;
}
#outputSelection1, #outputComputer{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 20px;
     background-color: #272151;
     padding: 30px;
     border-radius: 8px;
}
#outputPlayer1{
     background-color: #272151;
     padding: 30px;
     border-radius: 8px;
}
#outputComputer {
     display: none;
}
#outputPlayers {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 50px;
     margin-bottom: 50px;
}
#outputPlayers > div {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 20px; 
}
.rock, .paper, .scissors, .lizard, .spock{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-color: white;
     padding: 20px;
     border-radius: 50%;
     border: 10px solid;
     height: 120px;
     width: 120px;
     transition: all 0.3s ease-in-out;
}
.rock:hover, .paper:hover, .scissors:hover, .lizard:hover, .spock:hover{
     transform: scale(1.1) rotate(20deg);
}
.rock{
     border-color: red;
}
.paper{
     border-color: #2f51ff;
}
.scissors{
     border-color: #ffaa00;
}
.lizard{
     border-color: #843cff;
}
.spock{
     border-color: #59e6ff;
}
#output{
     background-color: #EEF0FF;
     color: #151231;
     padding: 50px;
     font-size: 35px;
     font-weight: 550;
     letter-spacing: 0.3px;
     border-radius: 5px;
}
#restart{
     display: none;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 20px;
}
#restart-btn{
     background-color: #ffaa00;
     color: white;
     padding: 15px 30px;
     border-radius: 8px;
     font-size: 18px;
     border: none;
     transition: all 0.3s ease-in-out;
     font-family: 550;
     letter-spacing: 1px;
}
#exit-btn{
     background-color: red;
     color: white;
     padding: 15px 30px;
     border-radius: 8px;
     font-size: 18px;
     border: none;
     transition: all 0.3s ease-in-out;
     font-family: 550;
     letter-spacing: 1px;
}

/* Room Name */
#roomName {
     padding: 10px 20px;
     border-radius: 3px;
     background-color: #E9EBFF;
     color: #151231;
     font-size: 18px;
}


/* Loader */
#loader-container {
     display: none;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 20px;
}
#dots-container {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     height: 100%;
     width: 100%;
} 
.dot {
     height: 20px;
     width: 20px;
     margin-right: 10px;
     border-radius: 10px;
     background-color: #ffffff;
     animation: pulse 1.5s infinite ease-in-out;
}
.dot:last-child {
  margin-right: 0;
}
.dot:nth-child(1) {
  animation-delay: -0.3s;
}
.dot:nth-child(2) {
  animation-delay: -0.1s;
}
.dot:nth-child(3) {
  animation-delay: 0.1s;
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #d0d0d0;
    box-shadow: 0 0 0 0 rgba(228, 240, 254, 0.7);
  }
  50% {
    transform: scale(1.2);
    background-color: #ffffff;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }
  100% {
    transform: scale(0.8);
    background-color: #e8f1fc;
    box-shadow: 0 0 0 0 rgba(246, 250, 255, 0.7);
  }
}